body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 0 auto;
    max-width: 900px;
}

header, footer {
    background-color: #F2E8CF;
    border-radius: 20px;
    justify-items: center;
    align-items: center;
    display: grid;
    padding: 5px;
}

header img {
    width: 8rem;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(190, 190, 190);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.lessons {
    border-top: solid rgb(240, 240, 240);
    border-bottom: solid rgb(240, 240, 240);
    padding: 20px 50px;
    line-height: 2rem;
}

.lastUpdated p {
    color: rgb(85, 85, 85);
    font-weight: bold;
}