header, body, footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 0;
}

header {
    background-color: #DBFF33;
    border-radius: 20px;
    display: grid;
}

footer {
    background-color: #DBFF33;
    border-radius: 20px;
}