@media only screen and (min-width: 40rem) {
    .banner-ad span {
        display: inline-block;
    }

    .logo {
        justify-content: left;
    }
    
    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main {
        margin: 0 auto;
    }

    .banner-box {
        position: relative;
    }
    
    .weather-summary {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .col-head {
        font-size: 1rem;
    }

    article {
        display: block;
    }

    article img {
        width: 170px;
        float: right;
        padding-top: 0;
        padding-left: 10px;
        padding-bottom: 10px;
        position: relative;
        top: 5px;
    }

    .footer-upper-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .location-map {
        order: 1;
    }

    .contact-info {
        order: 2;
    }

    .footer-bottom-section {
        font-size: 1rem;
    }
}