:root {
    --primary-color: #1c6ea9;
    --secondary-color: #aae8ff;
    --accent-1-color: #990000;
    --accent-2-color: #606060;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.ad {
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: var(--accent-1-color);
}

h3 {
    font-size: 1rem;
}

body {
    display: grid;
    min-height: 100vh;
    min-width: 500px;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--primary-color);
    padding: 20px 0px;
}

.primary-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: right;
    padding: 0 20px;
}

.logo {
    cursor: pointer;
    height: 70px;
}

button {
    margin: 0;
    padding: 0 8px;
    background: transparent;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 2rem;
    color: white;
}

nav {
    text-align: right;
    grid-column: 3/4;
    grid-row: 2/3;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

nav ul li.active a {
    color: white;
    font-weight: bold;
}

#hamburger-button span:nth-child(1) {display: block;}
#hamburger-button span:nth-child(2) {display: none;}

#hamburger-button.open span:nth-child(1) {display: none;}
#hamburger-button.open span:nth-child(2) {display: block;}

.social-icons {
    filter: invert(100%);
    cursor: pointer;
    grid-column: 2/3;
    grid-row: 1/2;
}

.social-icons img {
    height: 32px;
    margin: 2px;
}

.secondary-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    color: white;
}

main {
    margin: 0 20px;
}

.demographic-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.demographic-data figure {
    grid-column: 1/2;
}

.demographic-data img {
    width: 100%;
}

.demographic-table {
    grid-column: 2/3;
    font-size: 1.2rem;
    border-collapse: collapse;
    max-height: 50%;
}

.demographic-table th, td  {
    text-align: left;
    border-bottom: 1px solid var(--accent-2-color);
    padding: 0.6rem 0;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.photo-gallery figure {
    margin: 0;
    background-color: #f6f6f6;
    box-shadow: 1px 1px 5px var(--accent-2-color);
}

.photo-gallery figure figcaption {
    padding: 10px;
}

.photo-gallery img {
    width: 100%;
    filter: blur(0em);
    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.2em);
}

.visits {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
}

.main {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.event, .call-to-action, .spotlight, .weather, .join, .news {
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event, .spotlight, .weather, .join, .news {
    padding: 0 10px 10px 10px;
}

.event {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.event .read-button {
    margin-top: 16px;
}

.read-button {
    cursor: pointer;
    color: white;
    padding: 0.6rem;
    background-color: var(--accent-2-color);
    border-radius: 3rem;
    margin: 0 20px;
}

.call-to-action {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    /* background-image: url("../images/banner.webp");
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
}

.bg * {
    width: 100%;
}

.call-to-action h1 {
    position: absolute;
    top: 25%;
    color: white;
    font-size: 2.2rem;
    text-shadow: 0.2rem 0.2rem 0.1rem black;
}

.join-button {
    position: absolute;
    top: 50%;
    cursor: pointer;
    color: white;
    padding: 1.2rem;
    background-color: var(--primary-color);
    border-radius: 3rem;
}

.spotlight {
    grid-column: 1/2;
    grid-row: 4/6;
    display: grid;
    gap: 10px;
    padding-top: 10px;
}

.spotlight-1,
.spotlight-2,
.spotlight-3 {
    text-align: center;
    padding: 0 10px 10px 10px;
}

.spotlight-2,
.spotlight-3 {
    border-top: 1px solid grey;
}

.spotlight-3 {
    display: none;
}

.spotlight img {
    width: 100px;
    display: block;
    margin: auto;
}

.weather {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.weather-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.weather-info img {
    display: block;
    margin: auto;
}

.weather-info h3 {
    font-size: 3rem;
}

#weather-condition {
    grid-column: 1/3;
    text-align: right;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    margin: 0;
}

.more-weather-info {
    grid-column: 1/3;
}

.join {
    display: none;
}

.news {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.news p {
    font-size: 1.15rem;
}

footer {
    background-color: var(--accent-1-color);
    color: white;
    padding-bottom: 1px;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.part-2 div a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    cursor: pointer;
    height: 5rem;
    padding: 0 20px;
}

.copyright {
    border-top: 1px solid white;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}