@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c6ea9;
    padding: 20px 0px;
    margin-bottom: 20px;
}

.logo {
    cursor: pointer;
    height: 70px;
}

.nav__links {
    list-style: none;
    padding: 0px;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

.nav__links li a:hover {
    color: #AAE8FF;
}

main {
    margin: 0px 10%;
    text-align: justify;
}

main div {
    background-color: rgb(212, 212, 212);
}

main div img {
    display: block;
    height: 9rem;
    padding: 20px;
}

.colors {
    display: grid;
    gap: 10px;
}

.primary,
.secondary,
.accent-1,
.accent-2 {
    border: 1px solid black;
    width: 200px;
}

.primary h3,
.secondary h3,
.accent-1 h3,
.accent-2 h3 {
    margin: 5px;
    text-align: center;
}

.primary p,
.secondary p,
.accent-1 p,
.accent-2 p {
    color: white;
    padding: 10px 5px;
    margin: 0px;
}

.primary p {
    background-color: #1C6EA9;
}

.secondary p { 
    background-color: #AAE8FF;
    color: black;
}

.accent-1 p {
    background-color: #E04173;
}

.accent-2 p {
    background-color: #8D8D8D;
}

footer {
    display: grid;
    justify-items: center;
    margin-top: 20px;
    background-color: #1c6ea9;
}

.copyright {
    color: white;
}

.lastUpdated p {
    color: #FFFFFF;
    font-weight: bold;
}