@media (max-width: 768px) {
    header {
        display: block;
        padding: 10px 0px;
    }

    .logo {
        height: 50px;
    }

    .nav__links {
        display: grid;
        text-align: center;
    }

    .nav__links li {
        padding: 5px 0px;
    }

    .nav__links li a {
        font-size: 1.2rem;
    }

    main div img {
        height: 6rem;
        padding: 10px;
    }
}